<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/loginnew.css" th:href="@{/css/loginnew.css}">
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
    <script src="/static/javascript/loginnew.js" th:href="@{/javascript/loginnew.js}"></script>

</head>
<body>

<form action="#" th:action="@{/auth/changePassword}" th:object="${changePassword}" method="post">

    <div class="panel">

        <div class="state"><br><i class="fa fa-unlock-alt"></i><br>
            <h1>CHANGE PASSWORD</h1></div>
        <div class="form">
            <label>
                <input placeholder='Old password' type="password" th:field="*{oldPassword}">
            </label>
            <label class="error" th:errors="*{oldPassword}">Old Password error placeholder</label>
            <label>
                <input placeholder='New Password' type="password" th:field="*{password}">
            </label>
            <label class="error" th:errors="*{password}">Password error placeholder</label>
            <label>
                <input placeholder='Confirm Password' type="password" th:field="*{passwordConfirm}">
            </label>
            <label class="error" th:errors="*{passwordConfirm}">Password error placeholder</label>

            <input class="login" type="submit" value="CHANGE PASSWORD"/>

        </div>
        <div class="fack"><a href="#"><i class="fa fa-question-circle"></i>Forgot password?</a></div>
    </div>
</form>


</body>
</html>