<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' th:href='@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css}'>
    <link rel="stylesheet" th:href="@{/css/workitem-update.css}" media="screen">
    <style> h1 {
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    img {
        height: 40px;
    }
    body{
        background:#37517e;
    }

    </style>
    <title></title>
</head>
<body>



<div class="col-md-6 offset-md-3 mt-5">

    <br>


    <form accept-charset="UTF-8" th:action="@{__${#httpServletRequest.requestURI}__}" method="post" th:object="${removeDto}" target="_blank">

        <div class="form-group">
            <h2><label for="exampleFormControlSelect1" th:text="#{user.label.username}" >User</label></h2>
            <select class="form-control" th:field="*{id}" id="exampleFormControlSelect1" name="platform" required="required">
                <option th:each="user : ${users}"
                        th:value="${user.getId()}"
                        th:text="${user.getUsername()}">

                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


</body>
</html>