<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style> h1 {
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 24px;
    }


    body{
        background-color: #67B26F;
        background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
        background: linear-gradient(to right, #4ca2cd, #67B26F);
    }

    </style>
</head>
<body>
<div class="col-md-6 offset-md-3 mt-5">
    <a target="_blank" href="https://getform.io?ref=codepenHTML">
        <img th:src="@{https://i.imgur.com/Z2Nyxsm.png}">
    </a>
    <br>


    <form accept-charset="UTF-8" th:action="@{__${#httpServletRequest.requestURI}__}" enctype="multipart/form-data" method="post" th:object="${}" target="_blank">
        <div class="form-group">
</body>
</html>