<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6 offset-md-3 mt-5">
    <a target="_blank" href="https://getform.io?ref=codepenHTML">
        <img th:src="@{https://i.imgur.com/Z2Nyxsm.png}">
    </a>
    <br>


    <form accept-charset="UTF-8" th:action="@{__${#httpServletRequest.requestURI}__}" enctype="multipart/form-data" method="post" th:object="${}" target="_blank">
        <div class="form-group">
</body>
</html>