

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Users">Users </title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <!--    <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all users</a></h3></li>-->
</ul>


<br/>
<!--<img th:src="@{/src/main/resources/user-photos/{path}(path=${user.getPhotoPath()})}"  width="128" height="128" alt="Test">-->
<!--<br/>-->
<br/>

<a th:href="@{/users/frofiles}" title="">
    <span><img th:src="@{/images/icon4.png}" alt=""></span>
    Profiles
</a>







