<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" th:href="@{https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css}" rel='stylesheet'>
    <link rel="stylesheet" href="/static/assets/css/styles.css" th:href="@{/assets/css/styles.css}">
    <title>Document</title>

</head>

<body>
<div class="sidebar close">


    <div class="logo-details">
        <i class="bx bxl-java"></i>
        <span class="logo_name">Peer Review</span>
    </div>

    <ul class="nav-links">
    <li>
        <a href="#">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Dashboard</span>
        </a>
        </li>







        <li>
            <div class="icon-link">
                <a href="#">

                    <i class="bx bxl-microsoft-teams"></i>
                    <span class="link_name">Teams</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu ">
                <li><a class="link_name" href="#">Teams</a></li>

                <li><a href="#">User`s Teams</a></li>
                <li><a href="#">Create team</a></li>
                <li><a href="#">Leave Team</a></li>
                <li><a href="#">Reviewers</a></li>
                <li><a href="#">Team`s member</a></li>
            </ul>
        </li>






    <li>
        <div class="icon-link">
            <a href="#">
                <i class="bx bx-collection"></i>
                <span class="link_name">Members</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Members</a></li>
            <li><a href="#">Member`s Teams</a></li>
            <li><a href="#">Add Member</a></li>
            <li><a href="#">Remove Member</a></li>
        </ul>
    </li>




        <li>
        <div class="icon-link">
            <a href="#">
                <i class='bx bx-collection'></i>
                <span class="link_name">Review Request</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Review Request</a></li>
            <li><a href="#">Member`s Teams</a></li>
            <li><a href="#">Add Member</a></li>
            <li><a href="#">Remove Member</a></li>
        </ul>
    </li>






    <li>
        <a href="#">
            <i class='bx bxs-message-rounded'></i>
            <span class="link_name">Messages</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Change Password</a></li>
        </ul>
    </li>





        <li>
        <a href="#">
            <i class='bx bx-grid-alt'></i>
            <span class="link_name">Password</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Change Password</a></li>
        </ul>
    </li>






        <li>
        <a href="#">
            <i class='bx bxs-log-out' ></i>
            <span class="link_name">Log Out</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#"></a></li>
        </ul>
    </li>










    </ul>
</div>
</body>
</html>


