<!DOCTYPE html>

<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link  th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap}" rel='stylesheet' >
    <link rel="stylesheet"  th:href="@{/assets/css/styles.css}">    <!-- Boxiocns CDN Link -->
<!--    <style>-->

<!--    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');-->




<!--    </style>-->
    <link  th:href="@{https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css}" rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>



<div th:fragment="sidebar" class="sidebar close">


    <div class="logo-details">
        <i class="bx bxl-java"></i>
        <span class="logo_name">Peer Review</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>




        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="link_name">User</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">User</a></li>
                <li><a href="user-update.html" th:href="@{/user/{id}/update(id=${user.getId()})}">User Update</a></li>
                <li><a href="#" th:href="@{/user/{id}/delete(id=${user.getId()})}">User Delete</a></li>

            </ul>
        </li>




        <li>
            <div class="icon-link">
                <a href="#">
                    <i class="bx bxl-microsoft-teams"></i>
                    <span class="link_name">Teams</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Teams</a></li>
<!--                <li><a href="team.html" th:href="@{/teams}">All Team</a></li>-->
                <li><a href="#" >Create Team</a></li>
                <li><a href="#">User`s Teams</a></li>
                <li><a href="#">Review Requests</a></li>
                <li><a href="#">Add Member</a></li>
                <li><a href="#">Remove Member</a></li>
                <li><a href="#">All Members</a></li>
                <li><a href="#">Update</a></li>
            </ul>
        </li>


        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-plug' ></i>
                    <span class="link_name">WorkItems</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">WorkItems</a></li>
                <li><a href="table.html "th:href="@{/workItems}">All WorkItem</a></li>
                <li><a href="#" th:href="@{/workitem/{id}}">Single WorkItem</a></li>
                <li><a href="#">Single WorkItem</a></li>
                <li><a href="#">Update</a></li>
            </ul>
        </li>


        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-plug' ></i>
                    <span class="link_name">Review Requests </span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Review Requests</a></li>
                <li><a href="#">Review Requests Sent</a></li>
                <li><a href="#">Review Requests Receive</a></li>
                <li><a href="#"></a></li>
            </ul>
        </li>


        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2' ></i>
                <span class="link_name">Change Password</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Change Password</a></li>
            </ul>
        </li>


        <li>
            <a href="#">
                <i class='bx bx-line-chart' ></i>
                <span class="link_name">Review Requests Sent</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Chart</a></li>
            </ul>
        </li>


        <li>
            <a href="#">
                <i class='bx bx-compass' ></i>
                <span class="link_name">Explore</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Explore</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-history'></i>
                <span class="link_name">History</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">History</a></li>
            </ul>
        </li>


        <li>
            <a href="#">
                <i class='bx bx-cog' ></i>
                <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Setting</a></li>
            </ul>
        </li>


    </ul>
</div>


<section th:fragment="home-section" class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">

                <input type="text" placeholder="Search...">

            <i class='bx bx-search' ></i>
        </div>
        <div class="profile-details">
            <img th:src="@{/src/main/resources/user-photos/{path}(path=${user.getPhotoPath()})}" alt="" >
            <span class="admin_name" th:text="${user.getUsername()}">text</span>
            <i class='bx bx-chevron-down' ></i>
        </div>
    </nav>




</section>



<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });
</script>
<script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function() {
        sidebar.classList.toggle("active");
        if(sidebar.classList.contains("active")){
            sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
        }else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
</script>
</body>
</html>
