<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <link rel='stylesheet' th:href='@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css}'>
    <link rel="stylesheet" th:href="@{/css/workitem-update.css}" media="screen">
   <style> h1 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    }

    img {
    height: 40px;
    }
   body{
       background-color: #67B26F;
       background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
       background: linear-gradient(to right, #4ca2cd, #67B26F);
   }

    </style>
    <title></title>
</head>
<body>



<div class="col-md-6 offset-md-3 mt-5">

    <br>


    <form accept-charset="UTF-8" th:action="@{__${#httpServletRequest.requestURI}__}" enctype="multipart/form-data" method="post" th:object="${workItemDto}" target="_blank">
        <div class="form-group">
            <label for="exampleInputName" th:text="#{workItem.label.title}">Title</label>
            <input type="text" name="fullname" th:field="*{title}" class="form-control" id="exampleInputName" placeholder="Enter Title" required="required">
            <label class="error" th:errors="*{title}"></label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" required="required"  th:text="#{workItem.label.description}">Description</label>
            <input type="text" name="email"  th:field="*{description}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Description">
            <label class="error" th:errors="*{description}"></label>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1" th:text="#{workItem.label.team}" >Team</label>
            <select class="form-control" th:field="*{teamId}" id="exampleFormControlSelect1" name="platform" required="required">
                <option th:each="team : ${teams}"
                        th:value="${team.getTeamId()}"
                        th:text="${team.getTeamName()}">

                </option>
            </select>
            <label class="error" th:errors="*{teamId}">error placeholder</label>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Creator</label>
            <select th:field="*{creatorId}" class="form-control" id="exampleFormControlSelect2" name="platform" required="required">
                <option th:each="creator : ${users}"
                        th:value="${creator.id}"
                        th:text="${creator.getUsername()}">

                </option>
            </select>
            <label class="error" th:errors="*{creatorId}">error placeholder</label>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Reviewer</label>
            <select class="form-control" th:field="*{reviewerId}" id="exampleFormControlSelect3" name="platform" required="required">
                <option th:each="reviewer : ${users}"
                        th:value="${reviewer.id}"
                        th:text="${reviewer.getUsername()}">

                </option>
            </select>
            <label class="error" th:errors="*{reviewerId}">error placeholder</label>
        </div>

        <hr>
        <div class="form-group mt-3">
            <label class="mr-2"></label>
            <input type="file" name="file" value="Save">
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


</body>
</html>