<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
<script src="/static/javascript/parcel.js" th:href="@{/javascript/parcel.js}"></script>
<link rel="stylesheet"  th:href="@{/assets/css/styles.css}" media="screen">    <!-- Boxiocns CDN Link -->

<link  th:href="@{https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css}" rel='stylesheet'>

<head>
    <meta charset="UTF-8">
    <title th:text="'Work Item id '+${workItem.getId()}">WorkItem</title>
</head>
<body class="one">
<div th:replace="user :: sidebar"></div>

<div th:replace="user :: home-section"></div>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/workItems}" th:text="#{navigation.all-workItems}">Browse all WorkItems</a></h3></li>
</ul>

<h3 th:text="'Title: ' + ${workItem.getTitle()}">Title</h3>
<h3 th:text="'Creator: ' + ${workItem.getCreator().getUsername()}">Creator</h3>
<h3 th:text="'Reviewer: ' + ${workItem.getReviewer().getUsername()}">Reviewer</h3>
<h3 th:text="'Status: ' + ${workItem.getStatus().getStatus()}">Status</h3>
<h3 th:text="'Team: ' + ${workItem.getTeam().getTeamName()}">Status</h3>
<h3 th:text="'Description: ' + ${workItem.getDescription()}">Description</h3>

<h3>
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>

</html>