<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Work Item Update</title>
    <link href="../static/css/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <h3><a href="#" th:href="@{/workItems}" th:text="#{navigation.all-workItems}">Browse all WorkItems</a></h3>
</div>

<h2>Edit Work Item</h2>

<form th:fragment="workItem-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${workItem}" method="post">

    <label th:text="#{workItem.label.title}">Title</label>
    <br>
    <label>
        <input type="text" th:field="*{title}"/>
    </label>
    <label class="error" th:errors="*{title}"></label>
    <br><br>

    <label th:text="#{workItem.label.description}">Description</label>
    <br>
    <label>
        <input type="text" th:field="*{description}"/>
    </label>
    <label class="error" th:errors="*{description}"></label>
    <br><br>

    <input type="submit" value="Save"/>

    <div class="sales-boxes">
        <div class="recent-sales box">
            <div class="title">Recent Sales</div>
            <ul class="details">
                <li class="topic">Date</li>
                <li></li>

                <ul class="details">
                    <li class="topic">Customer</li>
                    <li></li>

                </ul>
                <ul class="details">
                    <li class="topic">Sales</li>
                    <li>>Delivered</li>

                </ul>
                <ul class="details">
                    <li class="topic">Total</li>
                    <li>$204.98</li>

                </ul>
            </ul>
        </div>
    </div>
</form>
</body>
</html>



